<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">BC</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
              <a class="btn btn-outline-info" type="button" href="/">Log out</a>
            </div>
          </div>
        </nav>
</head>
<body>
    <div class="sidenav container">
         <div class="login-main-text" style="text-align:center">
            <h2>Crea una clase</h2>
            <p>Ingrese los datos necesario y crea tu anuncio</p>
         </div>
      </div>
      <div class="main container" style="margin-left:30%">
         <div class="col-md-6 col-sm-12" style="background-color: cadetblue">
            <div class="login-form">
               <form method="post">
                  <div class="form-group">
                     <label>Titulo de la clase</label>
                     <input type="text" class="form-control" placeholder="Titulo de la clase" name="user" required>
                  </div>
                   <div class="form-group">
                     <label>Duracion</label>
                     <input type="text" class="form-control" placeholder="Duracion" name="duracion" required>
                  </div>
                   <div class="form-group">
                     <label>Precio</label>
                     <input type="text" class="form-control" placeholder="Precio" name="precio" required>
                  </div>
                   <div class="form-group">
                     <label>Descripcion</label>
                     <input type="text" class="form-control" placeholder="Descripcion" name="description">
                  </div>
                   <div class="form-group">
                     <label>Modalidad</label>
                     <input type="text" class="form-control" placeholder="Online o presencial" name="modalidad" required>
                  </div>
                  <div class="form-group">
                     <input type="hidden" class="form-control" placeholder="Password" name="user_id" value={{ user_id }}>
                  </div>

                  <button type="submit" class="btn btn-success">Crear</button>
               </form>
            </div>
         </div>
      </div>
</body>
</html>